In [1]:
import numpy as np
import pandas as pd

In [3]:
bus = pd.read_csv('bus_train.csv', encoding = 'utf-8')
bus.head(5)
bus.tail(5)

# id : 해당데이터의 고유한 아이디
# date : 버스 운행 날짜
# route_id : 버스 노선 id
# vh_id : 버스 id
# route_nm : 버스 노선 실제 번호
# now_latitude : 현재 정류소의 위도
# now_longitude : 현재 정류소의 경도
# now_station : 현재 정류소 이름
# now_arrive_time : 현재 정류장에 도착한 시간
# distance : 현재 정류장에서 다음 정류장까지 실제 이동한 거리
# next_station : 다음 정류소 이름
# next_latitude : 다음 정류소 위도
# next_longitude : 다음 정류소 경도
# next_arrive_time : 다음 정류장에 도착할때 까지 걸린 시간(단위:초)으로 답안 제출을 위해서 예측해야 되는 값

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
210452,210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,비석거리,21시,528.0,삼아아파트,33.251896,126.574417,96
210453,210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,동문로터리,21시,280.0,매일올레시장 7번입구,33.249753,126.565959,50
210454,210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,33.251084,126.559551,16
210455,210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,아랑조을거리 입구,21시,223.0,평생학습관,33.249504,126.558068,38
210456,210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),33.249091,126.509224,24

In [4]:
#컬럼별 type확인 및 결측치 확인
bus.info()
bus.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 14 columns):
id                  210457 non-null int64
date                210457 non-null object
route_id            210457 non-null int64
vh_id               210457 non-null int64
route_nm            210457 non-null object
now_latitude        210457 non-null float64
now_longitude       210457 non-null float64
now_station         210457 non-null object
now_arrive_time     210457 non-null object
distance            210457 non-null float64
next_station        210457 non-null object
next_latitude       210457 non-null float64
next_longitude      210457 non-null float64
next_arrive_time    210457 non-null int64
dtypes: float64(5), int64(4), object(5)
memory usage: 22.5+ MB

id                  0
date                0
route_id            0
vh_id               0
route_nm            0
now_latitude        0
now_longitude       0
now_station         0
now_arrive_time     0
distance            0
next_station        0
next_latitude       0
next_longitude      0
next_arrive_time    0
dtype: int64

In [8]:
#요약통계를 구해봤...
bus.describe()

,id,route_id,vh_id,now_latitude,now_longitude,distance,next_latitude,next_longitude,next_arrive_time
count,210457.000000,2.104570e+05,2.104570e+05,210457.000000,210457.000000,210457.000000,210457.000000,210457.000000,210457.000000
mean,105228.000000,4.052491e+08,7.988694e+06,33.434528,126.603451,490.256100,33.434711,126.603687,85.380824
std,60753.847139,9.132404e+04,6.774077e+03,0.102350,0.123961,520.563932,0.102224,0.123838,85.051170
min,0.000000,4.051360e+08,7.983000e+06,33.244382,126.473300,97.000000,33.244382,126.473300,6.000000
25%,52614.000000,4.051365e+08,7.983093e+06,33.325283,126.523900,291.000000,33.325283,126.524550,44.000000
50%,105228.000000,4.053201e+08,7.983431e+06,33.484667,126.551050,384.000000,33.484860,126.551050,66.000000
75%,157842.000000,4.053201e+08,7.997041e+06,33.500197,126.650322,542.000000,33.500228,126.650322,102.000000
max,210456.000000,4.053281e+08,7.997124e+06,33.556167,126.935188,7461.000000,33.556167,126.935188,2996.000000

In [ ]:
# date의 object를 datetime타입으로 변경해주기
bus['date'] = bus.date.apply(pd.to_datetime)

bus['year'] = bus.date.apply(lambda x : x.year)
bus['month'] = bus.date.apply(lambda x : x.month)
bus['day'] = bus.date.apply(lambda x : x.day)
bus['hour'] = bus.date.apply(lambda x : x.hour)

# 주말, 평일  /// 오전 오후 로 나눠서 변수 만들면 괜찮을 것같기두..

In [ ]:
#id 는 필요 없을 것 같구
# 위도 경도 를 이용해서 정류장간 거리 를 구할려 했으나 실제 이동한 거리인 distance가 있으니까 지워도 되겠다.
# 명목형은 가변수를 만들어 줘야겠지?